exam-question {
  // CTA Component customizations
  $letter-a-color: #1565c0;
  $letter-b-color: #0277bd;
  $letter-c-color: #00838f;
  $letter-d-color: #00695c;
  .card-img {
    $size: 75%;
    width: $size;
    height: $size;
  }
  .img-container {
    $size: 7.7vh;
    height: $size;
    width: $size;
  }
  .card-button {
    width: 90vw !important;
    margin-bottom: 3vh !important;
  }
  .the-header h1 {
    left: 4.6vh;
    font-size: 13pt;
    top: 4.3vh !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 70vw;
    text-align: justify;
  }
  /*
   * QUESTION HEADER
   */
  ion-card[question-header] {
    @extend .animated;
    @extend .fadeInRight;
    @extend .faster;
    @extend .card-rounded;
    margin-bottom: 3vh !important;
    background-color: #0288d1 !important;
  }
  ion-card-header {
    white-space: normal;
    text-align: justify;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: white !important;
  }
  ion-segment {
    margin: unset !important;
  }
  ion-segment-button {
    font-size: 1.4rem !important;
    font-weight: bold;
    color: white !important;
    background-color: #0288d1 !important;
  }
  ion-segment-button:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white; // background-color: #0277bd !important;
  }
  /*
   * LETTER A
   */
  .backdrop-letter-a {
    @extend .backdrop;
    background-position-y: -30px !important;
    background-image: url('../assets/imgs/letter-a.backdrop.svg') !important;
  }
  .letter-a-card {
    @extend .card-button;
    background-color: $letter-a-color;
  }
  .letter-a-card>.img-container {
    @extend .shadow-icon;
    background: $letter-a-color !important;
  }
  /*
   * LETTER B
   */
  .backdrop-letter-b {
    @extend .backdrop;
    background-image: url('../assets/imgs/letter-b.backdrop.svg') !important;
  }
  .letter-b-card {
    @extend .card-button;
    background-color: $letter-b-color;
  }
  .letter-b-card>.img-container {
    @extend .shadow-icon;
    background: $letter-b-color !important;
  }
  /*
   * LETTER C
   */
  .backdrop-letter-c {
    @extend .backdrop;
    background-image: url('../assets/imgs/letter-c.backdrop.svg') !important;
  }
  .letter-c-card {
    @extend .card-button;
    background-color: $letter-c-color;
  }
  .letter-c-card>.img-container {
    @extend .shadow-icon;
    background: $letter-c-color !important;
  }
  /*
   * LETTER D
   */
  .backdrop-letter-d {
    @extend .backdrop;
    background-position-y: -30px !important;
    background-image: url('../assets/imgs/letter-d.backdrop.svg') !important;
  }
  .letter-d-card {
    @extend .card-button;
    background-color: $letter-d-color;
  }
  .letter-d-card>.img-container {
    @extend .shadow-icon;
    background: $letter-d-color !important;
  }
}
