<ion-card question-header>
  <ion-card-header>{{questionTitle}}</ion-card-header>
  <div>
    <ion-segment>
      <ion-segment-button>
        {{(currentQuestion+1)}}/10
      </ion-segment-button>
      <ion-segment-button>
        0 pontos
      </ion-segment-button>
      <ion-segment-button>
        +1
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-card>

<call-to-action *ngFor="let item of actions" [icon]="item?.iconName" [label]="item?.label" (action)="questionResponse(item?.iconName)">

</call-to-action>
