page-choose-exam {
  ion-card:first-child {
    min-height: 38vh !important;
    box-shadow: .5px 1px 10px $primary-dark !important;
    margin-bottom: 5% !important;
    ion-card-header {
      color: $divider !important;
      font-size: 14pt;
      text-transform: uppercase;
      text-align: center;
      white-space: inherit !important;
    }
    hr {
      width: 80%;
      display: block;
      height: .5px;
      border: 0;
      border-bottom: .5px solid $accent;
      margin: 0 auto;
      padding: 0;
      box-shadow: .5px 1px 10px $primary-dark !important;
    }
    p {
      color: $divider;
      margin: 10% !important;
      font-size: 13pt;
      text-align: justify;
      display: inline-block !important;
      margin-top: 5% !important;
    }
  }
  ion-card {
    @extend .card-rounded;
    position: relative;
    text-align: center;
    box-shadow: none !important;
    height: 100px !important;
    @extend .background-pattern;
    margin-bottom: 5% !important;
  }
  .card-title {
    position: absolute;
    top: -5% !important;
    font-size: 6.0em;
    width: 100%;
    font-weight: bold;
    margin: 0 auto;
    color: $divider; // $shadow-color: $primary-text;
    // text-shadow: -1px -1px 0 $shadow-color, 1px -1px 0 $shadow-color, -1px 1px 0 $shadow-color, 1px 1px 0 $shadow-color;
  }
  img {
    position: absolute;
    bottom: 0; // vertical-align: bottom !important;
    // display: table-cell !important;
  }
}
