page-mode-selection {
  $padding-borders: 6%; // ion-col>button {
  //   background: transparent !important;
  //   border: unset !important;
  //   box-shadow: unset !important;
  // }
  ion-col>div {
    text-align: center;
    color: $divider; // margin: 0 auto !important;
    margin-bottom: $padding-borders !important;
    margin-top: $padding-borders !important;
    font-size: 12.5pt !important;
    font-weight: bold;
    text-transform: uppercase;
  }
  ion-icon:before {
    margin-left: 3%;
  }
  .control {
    border-radius: 15px !important;
    background: url('../../assets/imgs/blue-pattern.svg');
    background-repeat: no-repeat !important;
    background-position: bottom right !important; // box-shadow: .5px .5px 5px $accent
  }
  ion-col>p {
    padding: 10px;
    color: $divider;
    font-size: 13.5pt; // vertical-align: middle;
    text-align: left;
    margin: 0 auto;
  }
  ion-row:first-child {
    box-shadow: -.5px -.5px 2px $primary-dark !important;
  }
  ion-row {
    max-height: 33% !important;
    margin-bottom: 3% !important;
    padding: 1% !important;
    @extend .card-rounded;
    box-shadow: .5px -.5px 2px $primary-dark !important; // box-shadow: 1px -1px 15px $primary-dark !important;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
    height: auto;
    margin-bottom: $padding-borders;
    margin-top: $padding-borders;
  }
}
