page-mode-selection {
  $exam-light: #0277bd;
  $career-light: #2e7d32;
  $vocabulary-light: #00695c;
  .scroll-content {
    /* Disable scroll */
    overflow-y: hidden !important;
  }
  section {
    width: 90% !important;
  }
  call-to-action {
    // width: 90vw;
  }
  .backdrop-exam {
    @extend .backdrop;
    background-image: url('../assets/imgs/exam.backdrop.svg');
  }
  .exam-card {
    @extend .card-button;
    background-color: $exam-light;
  }
  .exam-card>.img-container {
    @extend .shadow-icon;
    background: $exam-light !important;
  }
  .backdrop-career {
    @extend .backdrop;
    background-image: url('../assets/imgs/career.backdrop.svg');
  }
  .career-card {
    @extend .card-button;
    background-color: $career-light;
  }
  .career-card>.img-container {
    @extend .shadow-icon;
    background: $career-light !important;
  }
  .backdrop-vocabulary {
    @extend .backdrop;
    background-image: url('../assets/imgs/vocabulary.backdrop.svg');
  }
  .vocabulary-card {
    @extend .card-button;
    background-color: $vocabulary-light;
  }
  .vocabulary-card>.img-container {
    @extend .shadow-icon;
    background: $vocabulary-light !important;
  }
}
