<ion-header>

  <ion-navbar transparent>
  </ion-navbar>

</ion-header>

<ion-content padding fullscreen>

  <h1>Modo {{ (examLevel === 'easy') ? 'Fácil' : 'Difícil' }}</h1>

  <section *ngIf="currentQuestionObject">

    <ion-card question-header>
      <ion-card-header>{{currentQuestionObject?.title}}</ion-card-header>
      <div>
        <ion-segment>
          <ion-segment-button>
            {{ currentQuestion }}/10
          </ion-segment-button>
          <ion-segment-button>
            {{ pointsEarned }} pontos
          </ion-segment-button>
          <ion-segment-button>
            {{ (examLevel == 'easy') ? '+1' : '+2'}}
          </ion-segment-button>
        </ion-segment>
      </div>
    </ion-card>

    <call-to-action *ngFor="let item of currentQuestionObject?.options" path="exam-mode/" [extraParameters]="item?.uid" [icon]="item?.iconName"
      [label]="item?.label" (action)="questionResponse(item?.iconName, item?.uid)">

    </call-to-action>

  </section>

</ion-content>
