page-career-mode {
  $fake-button-border: 50px;

  .first-answer-animation-enter {
    @extend .animated;
    @extend .fadeInLeftBig;
    @extend .delay-0-4s;
    @extend .fast;
  }

  .second-answer-animation-enter {
    @extend .animated;
    @extend .fadeInRightBig;
    @extend .fast;
  }

  .first-answer-animation-close {
    @extend .animated;
    @extend .fadeOutLeftBig;
    @extend .fast;
  }

  .second-answer-animation-close {
    @extend .animated;
    @extend .fadeOutRightBig;
    @extend .fast;
  }

  .answer-animation {
    @extend .animated;
    @extend .fadeInDownBig;
    @extend .fast;
  }

  .tip-animation {
    @extend .animated;
    @extend .fadeInUpBig;
    @extend .fast;
  }

  .mic-animation {
    @extend .animated;
    @extend .fadeInUpBig;
    @extend .delay-0-4s;
    @extend .fast;
  }

  .option-selected {
    @extend .animated;
    @extend .fadeIn;
    background-color: #4a148c !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23) !important;
  }

  section {

    h1,
    h2 {
      width: 100vw !important;
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
      color: rgba(2, 136, 209, .9);
    }

    h1 {
      @extend .answer-animation;
      margin-bottom: 5vh;
      font-size: 20pt;
      font-weight: 600;
    }

    h2 {
      @extend .tip-animation;
      margin-top: 25vh !important;
      font-size: 11pt;
      font-weight: 500;
    }

    div {
      flex-direction: row;
      display: flex;
      width: 100vw;

      span {
        $height: 10vh;
        height: $height;
        line-height: $height !important;
        font-size: 14pt !important;
        background-color: rgba(1, 87, 155, .85);
        color: rgba(250, 250, 250, .95);
        margin: unset !important;
        width: 50vw !important;
        text-align: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18),
          0 6px 6px rgba(1, 87, 155, 0.08) !important;
      }

      span:nth-child(2) {
        margin-right: -2.5vw !important;
        margin-left: 2.5vw !important;
        border-top-left-radius: $fake-button-border !important;
        border-bottom-left-radius: $fake-button-border !important;
      }

      span:first-child {
        margin-left: -2.5vw !important;
        margin-right: 5vw !important;
        border-top-right-radius: $fake-button-border !important;
        border-bottom-right-radius: $fake-button-border !important;
      }
    }
  }

  /*
   * Microfone
   */
  ion-footer>div {
    @extend .mic-animation;
    position: absolute;
    top: -7vh;
    left: 50%;
  }

  .object {
    display: flex;
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }

  .outline {
    $size: 60px;
    width: $size;
    height: $size;
    border-radius: 50%;
    animation: pulse 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    position: absolute;
  }

  .button {
    $size: 70px;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: transparent;
    position: absolute;
  }

  .button:not(#circlein) {
    border: 3px solid #3E94C8 !important;
    box-shadow: 0px 0px 120px #3E94C8;
  }

  @keyframes pulse {
    0% {
      transform: scale3d(1, 1, 1);
      opacity: 0;
      border: 1px solid #4983EA;
    }

    50% {
      border: solid #4CB5F4;
      opacity: 0.8;
    }

    90% {
      transform: scale3d(2, 2, 2);
      opacity: 0.2;
      border: 3px solid #50CDDD;
    }

    100% {
      transform: scale3d(2.5, 2.5, 2.5);
      opacity: 0;
      border: 1px solid #4CF4D9;
    }
  }

  #delayed {
    animation-delay: 1.5s;
  }

  #circlein {
    $size: 60px;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: transparent !important;
    box-shadow: 0px -2px 15px #3E94C8;
    position: absolute;
  }

  .mic-icon {
    height: 45px;
    margin: 6px;
  }
}
