page-career-mode {
  .first-answer-animation-enter {
    @extend .animated;
    @extend .fadeInLeftBig;
    @extend .delay-0-8s;
    @extend .fast;
  }

  .second-answer-animation-enter {
    @extend .animated;
    @extend .fadeInRightBig;
    @extend .delay-0-4s;
    @extend .fast;
  }

  .first-answer-animation-close {
    @extend .animated;
    @extend .fadeOutLeftBig;
    @extend .fast;
  }

  .second-answer-animation-close {
    @extend .animated;
    @extend .fadeOutRightBig;
    @extend .fast;
  }

  ion-col {
    // @extend .card-rounded;
    margin: 0 auto !important;
    position: relative;
    padding: 10px;
  }

  ion-col>div {
    // @extend .card-rounded;
    margin: 0 auto !important; // border: .5px solid $secondary-text !important;
    position: relative;
    text-align: center;
    box-shadow: none !important;
    width: 100% !important;
    height: auto !important;
    background-color: transparent !important;
  }

  ion-col,
  ion-col>div {
    height: 13vh !important; // vertical-align: middle !important; // ion-card-header {
    position: relative !important; // color: $divider !important;
    font-size: 1.7em !important;
    font-weight: bold !important; // text-transform: uppercase !important;
    text-align: center !important;
    white-space: inherit !important; // }
  }

  section {

    h1,
    h2,
    ion-row {
      width: 100vw !important; // margin-top: 40% !important; // @extend .center;
    }

    h1,
    h2 {
      margin-left: 10%;
      margin-right: 10%;
      text-align: center;
      color: rgba(2, 136, 209, .9);
    }

    h1 {
      font-size: 16pt;
      font-weight: 600; // border-bottom: 1px solid rgba(2, 136, 209, .9);
    }

    h2 {
      @extend .animated;
      @extend .fadeInUpBig;
      @extend .animated;
      @extend .fast;
      font-size: 11pt;
      font-weight: 500;
    }

    div {
      // min-width: 50vw;
      // max-height: 10vh;
      flex-direction: row;
      display: flex;
      width: 100vw;

      span {
        @extend .card-rounded;
        height: 9vh;
        margin: unset !important;
        width: 50vw !important;
        // border: 1px blue dotted;
        // transform: translateY(-50%);
        text-align: center;
        // transform: translateY(-200%);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10),
          0 6px 6px rgba(0, 0, 0, 0.12) !important;
      }

      span:nth-child(2) {
        margin-right: -2.5vw !important;
        margin-left: 2.5vw !important;
      }

      span:first-child {
        margin-left: -2.5vw !important;
        margin-right: 5vw !important;
      }
    }

    ion-row {
      margin-top: 3vh;
      margin-bottom: 10vh;

      ion-col {
        border-right: 1px solid blue; // @extend .second-answer-animation-enter;
      }

      ion-col:first-child {
        border-left: 1px solid blue; // @extend .first-answer-animation-enter;
      }
    }
  }

  /*
   * Microfone
   */
  //.box
  ion-footer>div {
    @extend .animated;
    @extend .fadeInUpBig;
    @extend .animated;
    @extend .delay-0-4s;
    @extend .fast;
    position: absolute;
    top: -10vh;
    left: 50%;
  }

  .object {
    display: flex;
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }

  .outline {
    $size: 60px;
    width: $size;
    height: $size;
    border-radius: 50%; // border: 8px solid #B5A4A4;
    animation: pulse 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    position: absolute;
  }

  .button {
    $size: 70px;
    width: $size;
    height: $size;
    border-radius: 50%; // border: .5px solid #0277BD;
    background: transparent; // #0277BD;
    position: absolute;
  }

  .button:not(#circlein) {
    border: 3px solid #3E94C8 !important;
    box-shadow: 0px 0px 120px #3E94C8;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0;
      border: 1px solid #4983EA;
    }

    50% {
      border: solid #4CB5F4;
      opacity: 0.8;
    }

    90% {
      transform: scale(2);
      opacity: 0.2;
      border: 3px solid #50CDDD;
    }

    100% {
      transform: scale(2.5);
      opacity: 0;
      border: 1px solid #4CF4D9;
    }
  }

  #delayed {
    animation-delay: 1.5s;
  }

  #circlein {
    $size: 60px;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: transparent !important;
    box-shadow: 0px -2px 15px #3E94C8;
    position: absolute;
  }

  .mic-icon {
    height: 45px;
    margin: 6px;
  }

  $signin-color: #0277bd;
  $signup-color: #558b2f;

  .signin-card {
    @extend .card-button;
    background-color: $signin-color;
  }

  .signin-card>.img-container {
    @extend .shadow-icon;
    background: $signin-color !important;
  }

  .backdrop-signin {
    @extend .backdrop;
    background-image: url('../assets/imgs/signin.backdrop.svg') !important;
  }

  .signup-card {
    @extend .card-button;
    background-color: $signup-color;
  }

  .signup-card>.img-container {
    @extend .shadow-icon;
    background: $signup-color !important;
  }

  .backdrop-signup {
    @extend .backdrop;
    background-image: url('../assets/imgs/signup.backdrop.svg') !important;
  }
}
