page-career-mode {
  .mic {
    @extend .btn;
    height: 70px !important;
    width: auto !important;
    bottom: 40px !important;
    margin: 0 auto !important;
    box-shadow: 1px 1px 15px $accent !important;
    z-index: 1000 !important;
    border: .5px solid $divider !important;
    box-shadow: 4px 6px 15px $primary-text !important;
    ion-icon {
      font-size: 4rem;
      margin: 10px !important;
    }
    &.activated {
      background: $accent;
    }
    &.activated ion-icon {
      transition: .1s linear;
      color: $primary;
    }
  }
  ion-footer {
    background: url('../../assets/imgs/primary-pattern.svg') !important; // bottom: 0 !important;
    background-repeat: no-repeat !important;
    background-position: bottom left !important;
    box-shadow: 0px -1px 50px $accent !important;
  }
  section>ion-card {
    // box-shadow: .5px 1px 10px $primary-dark !important;
    margin-bottom: 40% !important; // @extend .background-pattern; // margin-bottom: 5% !important;
    ion-card-header {
      color: $divider !important;
      font-size: 14pt;
      text-transform: uppercase;
      text-align: center;
      white-space: inherit !important;
    }
    hr {
      width: 80%;
      display: block;
      height: .5px;
      border: 0;
      border-bottom: .5px solid $accent;
      margin: 0 auto;
      padding: 0;
      box-shadow: 0px -1px 40px $accent !important;
    }
    p {
      color: $divider !important;
      margin: 20px !important;
      font-size: 13pt !important;
      text-align: justify;
      display: inline-block !important;
    }
  }
  ion-col {
    @extend .card-rounded;
    margin: 0 auto !important;
    position: relative;
    border: .5px solid $secondary-text !important;
  }
  ion-card {
    @extend .card-rounded;
    margin: 0 auto !important;
    position: relative; // text-align: center;
    box-shadow: none !important;
    width: 100% !important;
    height: auto !important;
    background-color: transparent !important;
  }
  ion-col,
  ion-col>ion-card {
    height: 13vh !important;
    vertical-align: middle !important;
    ion-card-header {
      position: relative !important;
      color: $divider !important;
      font-size: 2.3em !important;
      font-weight: bold !important; // text-transform: uppercase !important;
      text-align: center !important;
      white-space: inherit !important;
    }
  }
  img {
    position: absolute;
    bottom: 0;
    vertical-align: bottom !important;
    display: table-cell !important;
  }
}
