page-home {
  $shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
  $welcome-text-size: 9vh;

  /*
   * Animations
   */
  .card-animation {
    @extend .animated;
    @extend .fadeInUpBig;
    @extend .delay-0-4s;
    @extend .fast;
  }

  .button-animation {
    @extend .animated;
    @extend .fadeInDown;
    @extend .delay-1-25s;
    @extend .faster;
  }

  .icon-animation {
    @extend .animated;
    @extend .fadeInLeft;
    @extend .delay-1-5s;
    @extend .slow;
    @extend .infinite;
  }

  .card-content-animation {
    animation: swing-in-top-fwd .8s cubic-bezier(.39, .575, .565, 1.000) 1.2s both
  }

  @keyframes swing-in-top-fwd {
    0% {
      transform: rotateX(-100deg);
      transform-origin: top;
      opacity: 0
    }

    100% {
      transform: rotateX(0deg);
      transform-origin: top;
      opacity: 1
    }
  }

  .scroll-content {
    /* Disable scroll */
    overflow-y: hidden !important;
  }

  section {
    flex-direction: column 1important;
  }

  ion-card {
    @extend .card-animation;
    @extend .card-rounded;
    background-blend-mode: normal, multiply !important;
    box-shadow: $shadow;
    margin-bottom: 0 !important;
    z-index: 1;
    background: linear-gradient(135deg, rgba(144, 202, 249, 1) 0%, rgba(100, 181, 246, 1) 10%, rgba(66, 165, 245, 1) 25%, rgba(33, 150, 243, 1) 40%, rgba(30, 136, 229, 1) 55%, rgba(25, 118, 210, 1) 70%, rgba(21, 101, 192, 1) 85%, rgba(13, 71, 161, 1) 100%) !important;
  }

  ion-card>p {
    color: #fff !important;
    margin: 0 auto !important;
    max-width: 80%;
    text-align: justify;
    letter-spacing: initial !important;
    font-size: 12pt !important;
    font-weight: 500 !important;
    line-height: 1 !important;
  }

  ion-card-title {
    margin-top: 4.5vh !important;
    margin-bottom: 4.5vh !important;
    min-height: $welcome-text-size !important;
    background-color: rgba(255, 255, 255, .2);
    padding: unset !important;
  }

  ion-card-title>h1 {
    top: 50% !important;
    width: 100%;
    height: $welcome-text-size !important;
    line-height: $welcome-text-size !important;
    color: #fff !important;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold !important;
    margin: 0 auto !important;
  }

  ion-card>img {
    $img-size: 18vh;
    width: $img-size;
    height: $img-size;
    bottom: 15 !important;
    margin-top: 6vh !important;
    margin: 0 auto;
  }

  button {
    @extend .btn;
    @extend .button-animation;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0 !important;
    max-width: 75%;
    border-radius: 0 0 15px 15px !important;
    border: unset !important;
    box-shadow: $shadow;
    background: linear-gradient(to right, rgba(189, 189, 189, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%) !important;
  }

  ion-icon {
    @extend .icon-animation;
    margin-left: 5%;
  }
}
