page-vocabulary-mode {
  section {

    span {
      min-width: 100%;
      border: 0;

    }

    ion-grid {
      min-width: 85vw !important;
    }

    ion-col {
      @extend .card-content-animation;

      div {
        border-radius: 30%;
        border: 2px solid #fff;
        width: 35vw;
        height: auto;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23) !important;

        img,
        svg,
        span {
          $img-size: 65%;
          $margin: 1hv !important;
          position: relative;
          margin-top: 1vh !important;
          margin-bottom: .5h !important;
          margin: 0 auto;
          display: block;
          width: $img-size;
          height: $img-size;
        }

        div {
          border: 2px solid #fff;
          border-bottom: 10px !important;
          text-align: center;
          line-height: 1.5em;
          margin-left: 20%;
          width: 60%;
          border-radius: 10px;
          background-color: transparent !important;
          font-weight: 700;
        }
      }

    }

  }

  .card-content-animation {
    animation: swing-in-top-fwd .8s cubic-bezier(.39, .575, .565, 1.000) 1.2s both
  }

  .card-selection {
    -webkit-animation: rotate-scale-up 1s linear reverse forwards;
    animation: rotate-scale-up 1s linear reverse forwards;
  }

  @keyframes swing-in-top-fwd {
    0% {
      transform: rotateX(-100deg);
      transform-origin: top;
      opacity: 0
    }

    100% {
      transform: rotateX(0deg);
      transform-origin: top;
      opacity: 1
    }
  }

  @-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
      transform: scale(1) rotateZ(0);
    }

    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
      transform: scale(2) rotateZ(180deg);
    }

    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
      transform: scale(1) rotateZ(360deg);
    }
  }

  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
      transform: scale(1) rotateZ(0);
    }

    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
      transform: scale(2) rotateZ(180deg);
    }

    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
      transform: scale(1) rotateZ(360deg);
    }
  }

}
