page-signin {
  // @import '../../assets/styles/signin-signup-password_reset.scss';
  $shadow-divider: rgba(0, 0, 0, 0.25);
  $hard-question-color: #fb8c00;
  $easy-question-color: #546e7a;
  .scroll-content {
    /* Disable scroll */
    overflow-y: hidden !important;
  }
  .hard-question-card {
    @extend .card-button;
    background-color: $hard-question-color;
  }
  .hard-question-card>.img-container {
    box-shadow: 2px 2px 50px $shadow-divider;
    background: $hard-question-color !important;
  }
  .backdrop-hard-question {
    @extend .backdrop;
    background-image: url('../assets/imgs/hard-question.backdrop.svg') !important;
  }
  .easy-question-card {
    @extend .card-button;
    background-color: $easy-question-color;
  }
  .easy-question-card>.img-container {
    box-shadow: 2px 2px 50px $shadow-divider;
    background: $easy-question-color !important;
  }
  .backdrop-easy-question {
    @extend .backdrop;
    background-image: url('../assets/imgs/easy-question.backdrop.svg') !important;
  }
}
