// Fullscreen centered image background
@font-face {
  font-family: Biko;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}

ion-content {
  // background-size: cover !important;
  // background-position: center !important;
  // background-repeat: no-repeat !important;
  // border-color: transparent !important;
}

// LOGO secondary text
ion-col>span {
  font-size: 20px;
  font-weight: 700;
  color: $primary;
  font-family: Biko, sans-serif !important;
}

// LOGO main text
ion-col>div {
  width: 50%;
  height: auto;
  max-width: 12em;
  margin: 0 auto;
  font-family: Biko, sans-serif !important;
  font-weight: 800;
  font-size: 45px; // opacity: .8;
  color: $primary; // text-shadow: -1px -1px 0 $primary-dark, 1px -1px 0 $primary-dark, -1px 1px 0 $primary-dark, 1px 1px 0 $primary-dark;
}

.no-border {
  border-bottom: 0 !important;
  box-shadow: none !important;
}

ion-row {
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  ion-col.col {
    margin: 0 auto;
    max-width: 40%;
  }
}

ion-list {
  margin: 0;
}

ion-col>button {
  @extend .btn; // background-color: $primary-dark !important;
}

ion-list {
  margin: 10px !important;
  border: unset !important;
  box-shadow: $card-shadow !important;
}

.divider {
  width: 100%;
  height: 10px;
}

ion-card,
ion-item,
ion-label,
ion-input {
  background: $divider !important;
}

.item {
  border-bottom: 1px solid $primary !important;
}
